@import 'fonts'

b_silver = #ddd

body
  font-family 'Raleway-Light'
  font-size 16px

a
  cursor pointer
  text-decoration none


a:hover
  cursor pointer
  text-decoration none

.container-custom
  margin 0 auto
  padding 20px
  max-width 600px
  

.red-grade {
	color #ffffff
	background-color red
}

.yellow-grade {
	color #00000
	background-color yellow
}

.green-grade {
	color #ffffff
	background-color green
}