@import 'fonts'

b_silver = #ddd

body
  font-family 'Raleway-Light'
  font-size 16px

a
  cursor pointer
  text-decoration none


a:hover
  cursor pointer
  text-decoration none

.container-custom
  margin 0 auto
  padding 20px
  max-width 600px
  

.red-grade
	color #ffffff !important
	background-color red
	font-weight bold

.yellow-grade
	color #ffffff !important
	background-color yellow
	font-weight bold

.green-grade
	color #ffffff !important
	background-color green
	font-weight bold
	
.average
  font-weight bold
  font-size 18px