@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url("//themes.googleusercontent.com/static/fonts/raleway/v7/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff") format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url("//themes.googleusercontent.com/static/fonts/raleway/v7/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}
body {
  font-family: 'Raleway-Light';
  font-size: 16px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
.container-custom {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}
.red-grade {
  color: #fff !important;
  background-color: #f00;
  font-weight: bold;
}
.yellow-grade {
  color: #fff !important;
  background-color: #ff0;
  font-weight: bold;
}
.green-grade {
  color: #fff !important;
  background-color: #008000;
  font-weight: bold;
}
.average {
  font-weight: bold;
  font-size: 18px;
}
