<div class="table-responsive">
    <table class="table" >
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Promedio</th>
            <th>Detalle</th>
        </thead>
        <tbody>
            <tr ng-repeat="s in studentlist.students" ng-style="{'color':'{{s.color}}'}" >
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.yearsOld}}</td>
                <td class="average">{{studentlist.average(s.grades)}}</td>
                <td>
                    <a ng-click="studentlist.changeDetail(s.id)">
                        <i class="fa fa-list" aria-hidden="true"></i> Detalle
                    </a>
                    <ol ng-show="studentlist.currentDetail == s.id" ng-repeat="g in s.grades track by $index" >
                        <ul ng-class="{'red-grade':g<3,'yellow-grade':(g>2.9 && g<4),'green-grade':g>3.9}">{{g}}</ul>
                    </ol>
                </td>
            </tr>
        </tbody>
</table>
</div>